{
  "presets": [["@babel/preset-env", { "useBuiltIns": false }], "@babel/preset-flow", "@babel/preset-typescript"],
  "plugins": [
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-regenerator",
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "alias": {
          "battlecry": "./src"
        }
      }
    ]
  ]
}
