{
  "presets": ["flow", "env", "stage-0"],
  "plugins": [
    "transform-async-to-strategy",
    "transform-decorators-legacy",
    [
      "module-resolver",
      {
        "alias": {
          "battlecry": "./src"
        }
      }
    ]
  ]
}
